<!doctype html>
<html lang="en">
{% load static %}
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ template_data.title }}</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>
</head>
<body class="bg-secondary border-primary border">
    <nav class="navbar px-3 bg-primary border-light border navbar-expand-lg">
        <div class="container border-light navbar-nav">
            {% if user.is_authenticated %}
            <!-- TODO need to make this redirect to home or profile depending on if user is logged in or not-->
                <div class="nav-item dropdown">
                    <button class="btn btn-secondary dropdown-toggle nav-link" data-bs-toggle="dropdown" aria-expanded="false">
                        Navigation
                    </button>
                    <ul class="dropdown-menu bg-secondary border-light">
                        <li><a class="dropdown-item text-light">Profile</a></li>
                        <li><a class="dropdown-item text-light">Jobs</a></li>
                        <li><a class="dropdown-item text-light">People</a></li>
                        <li><a class="dropdown-item text-light">Messages</a></li>
                        <li><a class="dropdown-item text-light">Map</a></li> <!-- This link is not functional until Sprint 2-->
                        <li><a class="dropdown-item text-light">My Applications</a></li>
                        {% if user.userType == 'Recruiter' %}
                        <li><a class="dropdown-item text-light">My Postings</a></li>
                        <li><a class="dropdown-item text-light">Active Searches</a></li>
                        {% endif %}
                        <li><a class="dropdown-item text-light">Logout</a></li>
                        {% if user.is_superuser %}
                        <li><a class="dropdown-item text-light">Admin Functions</a></li>
                        {% endif %}
                    </ul>
                </div>
                <a class="navbar-brand nav-item" href="{% url 'accounts.login' %}">
                    <img src="{% static 'img\placeholder.png' %}" alt="Logo" height="60" width="400">
                </a>
                <!-- TODO Make these redirect -->
                <a class="nav-item">
                    <img src="{% static 'img\messages.png' %}" alt="Messaging" height="60">
                </a>
                <a class="nav-item">
                    <img src="{% static 'img\notifications.png' %}" alt="Notifications" height="60">
                </a>
                <a class="nav-item">
                    <img class="rounded-circle" src="{% static 'img\placeholder.png' %}" alt="Profile" height="60">
                </a>
            {% else %}
                <!-- Every link directs to Login page -->
                <div class="nav-item dropdown">
                    <button class="btn btn-secondary dropdown-toggle nav-link" data-bs-toggle="dropdown" aria-expanded="false">
                        Navigation
                    </button>
                    <ul class="dropdown-menu bg-secondary border-light">
                        <li><a class="dropdown-item text-light" href="{% url 'accounts.login' %}">Login</a></li>
                        <li><a class="dropdown-item text-light" href="{% url 'accounts.signup' %}">Signup</a></li>
                    </ul>
                </div>
                <a class="navbar-brand nav-item" href="{% url 'accounts.login' %}">
                    <img src="{% static 'img\placeholder.png' %}" alt="Logo" height="60" width="400">
                </a>
                <a class="nav-item" href="{% url 'accounts.login' %}">
                    <img src="{% static 'img\messages.png' %}" alt="Messaging" height="60">
                </a>
                <a class="nav-item" href="{% url 'accounts.login' %}">
                    <img src="{% static 'img\notifications.png' %}" alt="Notifications" height="60">
                </a>
                <a class="nav-item" href="{% url 'accounts.login' %}">
                    <img class="rounded-circle" src="{% static 'img\no_profile.png' %}" alt="Profile" height="60">
                </a>
            {% endif %}
        </div>
    </nav>
    <div class="border-primary container-fluid min-vh-100">
        {% block content %}
        {% endblock content %}
    </div>
</body>
</html>