:root {
    --bs-primary: #B39051;      /* Gold */
    --bs-secondary: #051E39;    /* Navy */
    --bs-light: #FFFFFF;        /* White */
}

/* Background */
.bg-primary {
    background-color: #B39051 !important;
}
.bg-secondary {
    background-color: #051E39 !important;
}
.bg-light {
    background-color: #FFFFFF !important;
}

/* Button */
.btn-primary {
    background-color: #B39051 !important;
}
.btn-secondary {
    color: #FFFFFF !important;
    background-color: #051E39 !important;
}
.btn-light {
    background-color: #FFFFFF !important;
}

/* text */
.text-primary {
    color: #B39051 !important;
}
.text-secondary {
    color: #051E39 !important;
}
.text-light {
    color: #FFFFFF !important;
}

/* Border */
.border-primary {
    border-color: #B39051 !important;
}
.border-secondary {
    border-color: #051E39 !important;
}
.border-light {
    border-color: #FFFFFF !important;
}

.searchChoice-w {
    width: 100px;
}

.searchButtonBlackBorder {
    border-left-color: #000000;
    border-right-color: #000000;
    border-top-color: #000000;
    border-bottom-color: #000000;
    border-width: 0px;
}

/* Elements */

.job-container {
    width: 40%;
    height: auto;
    background-color: #FF0000;
    padding: 20px;
    color: #FFFFFF
}

.form-row {
    display: flex;
    gap: 1rem;
}

.form-field {
    /*flex: 1;*/
}

.filter-popup-wrapper {
    display: none;
    position: fixed;
    inset: 0;
    z-index: 1000;
    background: rgba(0, 0, 0, 0.35);
}

.filter-popup-wrapper.open {
  display: block;
}

.filter-popup {
  position: absolute;
  top: 50px;
  right: 12.5vw;
  width: 75vw;/*min(1080px, 50vw);*/
  height: 40vh;
  padding: 24px;
  box-sizing: border-box;
  background: white;
  box-shadow: -4px 0 16px rgba(0, 0, 0, 0.2);
  overflow-y: auto;
}

.candidate-bubble {
    border-radius: 12pt;
    background-color: #F2F0EF;
}

.flex {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.modal-body {
    background-color: #051E39;
}

.modal-footer {
    background-color: #B39051;
}

.modal-header {
    background-color: #B39051;
}

.bg-red {
  background-color: red;
}

.auto-grow {
    field-sizing: content;
    resize: none;
    min-height: 50px;
    max-height: 200px;
}

.message {
    display: flex;
    width: 100%;
}

.message.sent {
    justify-content: flex-end;
}

.message.received {
    justify-content: flex-start;
}

.message.sent .message_bubble {
    background-color: #B39051;
    color: #ffffff;
    border-radius: 18px 18px 4px 18px;
}

.message.received .message_bubble {
    background-color: #efefef;
    color: #262626;
    border-radius: 18px 18px 18px 4px;
}

.message_bubble {
    max-width: 60%;
    padding: 8px 12px;
    word-break: break-word;
}

.chat {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    gap: 8px;
    padding: 16px;
    max-height: 75vh;
    overflow-y: auto;
    scrollbar-color: #B39051 #051E39;
}

.textarea_messaging {
    flex-grow: 1;
}