{% extends 'base.html' %}
{% block content %}
<div class="p-3">
    <div class="container">
        <div class="col mx-auto mb-3">
            <h2>Messages</h2>
            <hr />
        </div>
        {% if messages %}
            {% for message in messages %}
                <div class="alert alert-danger alert-dismissible fade show my-2" role="alert">
                    {{ message }}
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            {% endfor %}
        {% endif %}
        <div class="row mb-4" >
            <div class="card-footer p-3" style="background-color: gray; border-radius: 12pt;">
                <form method="POST" action="{% url 'messaging.send_message' %}">
                    {% csrf_token %}
                    <div class="mb-3">
                        <label for="recipient_username" class="form-label fw-bold">Begin a chat here!: </label>
                        <input type="text" name="recipient_username" id="recipient_username" class="form-control" placeholder="Enter Recipient Username" required>
                    </div>
                    <textarea name="content" class="form-control auto-grow" rows="1" placeholder="Type your initial message here" required></textarea>
                    <hr />
                    <button type="submit" class="btn btn-primary px-4">Create Chat</button>
                </form>
            </div>
            <hr />
            {% for chat in template_data.chats %}
            <div>
                <div class="p-2 card align-items-center pt-4 overflow-hidden" style="background-color: gray; border-radius: 12pt;">
                    <div class="card-body text-center">
                        <a href="{% url 'messaging.chat' chat.id %}" style="text-decoration: none;">
                        {% if chat.user_1 == request.user and chat.user_2 == request.user%}
                            <!-- User 2 Profile Picture -->
                            <h2 class="fw-bold text-primary">{{ request.user.username }} (Notes to self)</h2>
                        {% elif chat.user_1 == request.user %}
                            <!-- User 2 Profile Picture -->
                            <h2 class="fw-bold text-primary">{{ chat.user_2.username}}</h2>
                        {% else %}
                            <!-- User 1 Profile Picture -->
                            <h2 class="fw-bold text-primary">{{ chat.user_1.username }}</h2>
                        {% endif %}
                        <p class="text-center text-muted"> {{ chat.timestamp}} </p>
                        </a>
                    </div>
                </div>
            </div>
            <hr />
            {% empty %}
            <div class="col-12">
                <p class="text-muted">No chats found.</p>
            </div>
            
            {% endfor %}
        </div>
    </div>
</div>
{% endblock content %}
