{% for job in jobs %}
    <div class="container d-flex justify-content-center my-4">
        <div class="bg-primary text-white p-4 rounded-2 shadow">
            <p><b>{{job.title}} @ {{job.company}} </b> | {{job.location}}  | On Site: {{job.onSite}} | Salary Range: ${{job.minSalary}} to ${{job.maxSalary}}| Visa Sponsorship: {{job.visaSponsorship}}</p>
            <p>Skills: {% for skill in job.skills %} {{skill}} {% endfor %}</p>
            <p>{{job.description}}</p>
        </div>
    </div>
{% empty %}
    <p>No products found.</p>
{% endfor %}